.note-item {
  height: 70px;
  width: 100%;
  cursor: pointer;
}

.note-container {
  height: 100%;
  overflow-y: scroll;
  padding: 5px;
}

.note-content {
  height: 100%;
}

.note-title {
  font-weight: bold;
}